@media screen and (min-width: 1700px){
/* div{
  margin-left: 170px;
} */
}
label{
  color: #4E60FF;
}
#search_design{
margin-left: 5px;
border: 1px solid #4E60FF;
border-radius: 8px;
text-align: center;

}

/* #d1:hover p{
  color: #4E60FF;
} */
