
<!-- <div class="row category_container">

  <div class="card category1 col-2" style="width: 160px; height: 80px;">
    <img src="../../assets/images/category/cake.png" alt="" >
    <p class="card-text" >Cake</p>
  </div>
  <div class="card category1 col-2" style="width: 160px; height: 80px;">
    <img src="../../assets/images/category/broccoli.png" alt="" >
    <p class="card-text" >Broccoli</p>
  </div>
  <div class="card category1 col-2" style="width: 160px; height: 80px;">
    <img src="../../assets/images/category/burger.png" alt="" >
    <p class="card-text" >Burger</p>
  </div>
  <div class="card category1 col-2" style="width: 160px; height: 80px;">
    <img src="../../assets/images/category/pizza.png" alt="" >
    <p class="card-text" >pizza</p>
  </div>
  <div class="card category1 col-2" style="width: 160px; height: 80px;">
    <img src="../../assets/images/category/sushi.png" alt="" >
    <p class="card-text" >shshi</p>
  </div>



</div> -->
<div class=" category_container" style="display:flex; justify-content: center; align-content: center;  flex-wrap: nowrap; overflow-x: auto;" >
  <div class="card category1 " style="min-width: 160px; height: 80px; margin-top: 5px; display:inline-flex; justify-content: center; align-items: center; "
   *ngFor="let item of array1">
  <app-child-category
  [imagePath]='item.path'
  [categoryName]='item.name'
   ></app-child-category>
</div>
</div>

