.inputForm{
border-radius: 8px;
width: 200px;
}
label{
  width: 200px;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
}
