<!-- <app-account-setting></app-account-setting> -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-account-setting></app-account-setting> -->
<!-- <app-second-page></app-second-page> -->
<!-- <app-offer></app-offer> -->
<!-- <app-deals></app-deals> -->

<!-- <div *ngIf="showLogin">
  <app-log-in></app-log-in>
  <button (click)="toggleComponent()">Switch to Register</button>
</div>

<div *ngIf="!showLogin">
  <app-navbar></app-navbar>
  <button (click)="toggleComponent()">Switch to Login</button>
</div>  -->

<!--
  <app-testing></app-testing> -->


  <!-- <app-items></app-items> -->

  <router-outlet></router-outlet>
<!-- <app-personal-comp></app-personal-comp> -->
<!-- <app-cart-item></app-cart-item> -->
