<div class="MainOffer" style="display: flex; justify-content: center;" >
<div style="display:flex; justify-content: space-around; flex-wrap: wrap; ">
  <div class="cards1" style="display: flex; align-items: center; margin: 5px;">
    <img class="" src="./assets/images/offer/img mask.png" style="width: 290px;height: 188px;" alt="#">
    <div class="card-body" style="display: flex; flex-direction: column; ">
      <h4 class="card-title" style="font-size: 20px; color:#2B2B43; margin-top: 5px;">All deserts</h4>
      <p class="card-text discountOffer1" style="width: 210px; height: 56px;">20% OFF</p>
      <p class="card-text" style="margin-top: 36px;color: #83859C;">desert</p>
    </div>
  </div>

  <div  class="cards2" style="display: flex; align-items: center; margin: 5px;" >
    <img class="col-md-6" src="./assets/images/offer/img mask (1).png" style="width: 290px;height: 188px;" alt="#">
    <div class="card-body col-md-6">
      <h4 class="card-title" style="font-size: 20px; color:#2B2B43; margin-top: 5px;">Big Burgers</h4>
      <p class="card-text discountOffer2" style="width: 210px; height: 56px;">20% OFF</p>
      <p class="card-text" style="margin-top: 36px;color: #83859C;">Fooddies</p>
    </div>
  </div>

</div>
</div>


